
<div (keydown.space)="this.toggle_scroll();">
  
<h1>
  Hello World!
</h1>
  <br>
    
    <input
        matInput
        type="number"
        placeholder="Enter a number"
        [(ngModel)]="rows"
        (click)="this.update()"
        
    />
<br>
  <table>
    <tr *ngFor="let i of row_array">
  <img src="../assets/rickroll_loop.gif"><img src="../assets/rickroll_loop.gif"><img src="../assets/rickroll_loop.gif"><h2>{{row_array.length}}</h2>
   <video src="../assets/noidea.mp4" loop controls autoplay></video>{{scroll}}
</tr>
</table>
</div>
